click==6.7
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.3
MarkupSafe==1.0
mixbox==1.0.3
ordered-set==3.0.1
ordereddict==1.1
python-dateutil==2.7.3
six==1.11.0
stix-validator==2.5.0
weakrefmethod==1.0.3
Werkzeug==0.14.1
xlrd==1.1.0
